@charset "UTF-8";
* {
  box-sizing: border-box;
}

.blockpage {
  max-width: 1400px;
}

* {
  font-family: "Roboto", sans-serif;
}

a,
a:link,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
button i {
  font-size: 1.3rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 10px 0 20px 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

.card h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0 0 8px 0;
}
.card p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.card__new {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #278870;
}

/***footer***/
footer {
  color: rgb(246, 246, 246);
}
footer h4 {
  font-family: "Shrikhand";
  font-size: 1.2rem;
}
footer li a {
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
}

.searchbar {
  color: rgb(74, 74, 74);
  font-family: "Roboto", sans-serif;
}
.searchbar input {
  font-size: 0.95rem;
  font-weight: 600;
  color: rgb(74, 74, 74);
}
.searchbar input:focus {
  color: #9256dc;
}

.menu h1 {
  font-family: "shrikhand";
  font-size: 1.6rem;
  padding: 20px 0 0 0;
}
.menu h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 40px 0 10px;
}

.starters h3,
.maincourses h3,
.desserts h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0 0 8px 0;
}
.starters p,
.maincourses p,
.desserts p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.starters span,
.maincourses span,
.desserts span {
  font-weight: 800;
}

.boxC {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  aspect-ratio: 4/3;
  max-height: 350px;
  position: relative;
}
.boxC .like {
  position: absolute;
  bottom: 8%;
  right: 8%;
}
.boxC .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  aspect-ratio: 4/3;
  max-height: 350px;
  position: relative;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(200, 200, 200);
}
.boxC .card:hover {
  box-shadow: 8px 8px 15px rgb(170, 170, 170);
}
.boxC .card__new {
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: #99e2d0;
  padding: 7px 10px;
  border-radius: 3px;
}
.boxC .card__image {
  height: 75%;
}
.boxC .card__image img {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
.boxC .card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 25%;
  padding: 0 20px;
  border-radius: 0 0 15px 15px;
}
.boxC .card__description__text {
  display: flex;
  flex-direction: column;
}

.like {
  background: none;
  color: black;
  font-size: 1.3rem;
  cursor: cell;
}
.like--full {
  display: none;
}
.like:hover .like--full {
  display: unset;
  color: #9256dc;
}
.like:hover .like--empty {
  display: none;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.1);
  /*fond transparent pour récupérer l'ombre, pourquoi pas z-index? 
    (car j'ai essayé et ça ne marchait pas, (restriction d'utilisaiton
     avec certaines balises sémantiques?)*/
}
.searchbar input {
  height: 100%;
  width: fit-content;
  display: flex;
  text-align: center;
  background: none;
  border: none;
  padding: 0 10px;
}
.searchbar input:focus-visible {
  outline: none;
}
.searchbar input::placeholder {
  width: fit-content;
  /* axe amélioration: fit content partiellement accepté,
    mais répondait au comportement désiré, possible en js */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 15px 0;
  max-width: 100%;
  box-shadow: 0px 4px 4px lightgrey;
}
.header img {
  height: 30px;
}

footer {
  background: #4f4f4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  padding: 20px 20px;
}
footer h4 {
  padding: 20px 0;
}
footer li {
  padding-bottom: 10px;
}
footer span {
  padding-left: 7px;
}
footer i {
  padding-right: 7px;
}

button {
  cursor: pointer;
  border: none;
}

.button__cta {
  /*les boutons violets, présents sur accueil et menu*/
  /* test plutôt sympa:
    background: linear-gradient(
    to right bottom,
    $colour-secondary,
    $colour-primary 60px
  );*/
  background: radial-gradient(at 30% -90%, #ff79da 20px, #9256dc);
  width: fit-content;
  height: 50px;
  color: rgb(246, 246, 246);
  border-radius: 25px;
  padding: 0 20px;
  box-shadow: 3px 3px 10px rgb(200, 200, 200);
  transition: transform 400ms, background 1s, box-shadow 400ms;
}
.button__cta:hover {
  transform: scale(1.1);
  background: radial-gradient(at 30% -90%, #fface8 20px, #ad80e5);
  box-shadow: 8px 8px 15px rgb(170, 170, 170);
}

.box {
  width: 97%;
  position: relative;
}
.box__label {
  position: absolute;
  z-index: 2;
  left: -15px;
  top: 17.5px;
  background-color: #9256dc;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box__button {
  /* - les boutons de fonctionnement, présents sur home, gris > violet
     - choix d'un alignement des i et textes sur la gauche (et non centré)*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #f7f7f7;
  width: 100%;
  height: 65px;
  font-weight: 500;
  border-radius: 15px;
  padding: 0 20px;
  box-shadow: 3px 3px 10px rgb(220, 220, 220);
  /* - une fonction pour définir la couleur de i par rapport au fond
  - utilisation cette fonction avec des teintes de couleur primaire en survol*/
}
.box__button:hover {
  background-color: #f4eefc;
}
.box__button:hover i {
  color: #9256dc;
}
.box__button i {
  padding: 0 25px;
  color: rgb(130, 130, 130);
}
.box__button span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button {
  /*les boutons du header de menu
    pour revenir à accueil*/
  background: none;
  color: black;
  display: unset;
  position: absolute;
  top: 30px;
  left: 10px;
  padding: 0 20px;
}

.button__checked {
  /* les boutons pour valider choix,
    apparaissent avec un survol*/
}

#presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  background-color: rgb(246, 246, 246);
  text-align: center;
  align-items: center;
  height: 270px;
}
#presentation h1 {
  padding: 0 40px 20px 40px;
}
#presentation p {
  padding-bottom: 20px;
}

#manual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  height: 380px;
}
#manual .manuallist {
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

#restaurants {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background-color: rgb(246, 246, 246);
}
#restaurants #catalogue {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/*attention à l'ordre des imports*/
.menu__image {
  width: 100%;
}
.menu__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.menu__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  background-color: rgb(246, 246, 246);
  border-radius: 20px;
  margin-top: -20px;
}
.menu__text__heading {
  display: flex;
  justify-content: space-between;
}
.menu__text__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  padding: 40px;
  align-items: center;
}

.starters,
.maincourses,
.desserts {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.starters h2,
.maincourses h2,
.desserts h2 {
  border-bottom: 5px solid #99e2d0;
}
.starters article,
.maincourses article,
.desserts article {
  background-color: white;
  padding: 20px 15px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgb(220, 220, 220);
}
.starters article p,
.maincourses article p,
.desserts article p {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
