.boxC {
  width: 100%;
  aspect-ratio: 4/3;
  max-height: 350px;
  position: relative;
  // boxC permet à .like de se placer
  .like {
    position: absolute;
    bottom: 8%;
    right: 8%;
    // > comment faire pour que right soit définit
    //en fonction du bord de la boxC = j'ai imposé
    // le meme dimensionnement à boxC qu'à .card
  }
  .card {
    aspect-ratio: 4/3;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(200, 200, 200);
    &:hover {
      box-shadow: 8px 8px 15px rgb(170, 170, 170);
    }
    &__new {
      position: absolute;
      right: 10px;
      top: 15px;
      background-color: $colour-accent;
      padding: 7px 10px;
      border-radius: 3px;
    }
    &__image {
      height: 75%;
      &--portrait {
        object-fit: cover;
        object-position: 50% 62%;
        width: 100%;
        height: 100%;
        border-radius: 15px 15px 0 0;
      }
      &--landscape {
        object-fit: cover;
        object-position: bottom;
        width: 100%;
        height: 100%;
        border-radius: 15px 15px 0 0;
        // > comment faire pour que la photo ne soit pas centrée
        //mais alignée en bas et coupée en haut du coup = J'ai rajouté
        // un object-position
      }
    }
    &__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      height: 25%;
      padding: 0 20px;
      border-radius: 0 0 15px 15px;
      &__text {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.dish {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgb(220, 220, 220);
  &__description {
    padding: 0 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__details {
      display: flex;
      justify-content: space-between;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      span {
        text-align: right;
      }
    }
  }
  &__selection {
    display: none;
  }
  &:hover {
    cursor: pointer;
    // TODO trouver la grosse main
    // pour garder l'espace entre le prix en span et le reste de  p
    .dish__selection {
      display: unset;
      background-color: $colour-accent;
      color: white;
      height: 80px;
      min-width: 80px;
      border-radius: 0 20px 20px 0;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-weight: 600;
        font-size: 1.5rem;
      }
    }
  }
}
