footer {
  background: darken($colour-darkachromatic, 20%);
  @include flexcolumn;
  @include desktop-only {
    padding: 40px 60px;
  }
  h4 {
    padding-bottom: 20px;
  }
  li {
    padding-bottom: 10px;
  }
  span {
    padding-left: 7px;
  }
  i {
    padding-right: 7px;
  }
  @include tablet-only {
    padding-left: 120px;
    padding-right: 120px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      :nth-child(2n) {
        order: 1;
      }
      li {
        width: 50%;
      }
    }
  }
  @include desktop-only {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      width: 25%;
    }
  }
}

// TODO : une i fait 12px l'autre 19px, il faudrait trouver le moyen
// de leur faire obtenir le meme width, pour éviter de bidouiller
// l'alignement entre les paddings droits et gauches
// >>il faut modifier le fontsize du i de la mainserrée, mettre un 12px,
// c'est chercher le pixel perfect.
// la suite du footer se trouve dans typography...
