footer {
  background: darken($colour-darkachromatic, 20%);
  @include flexcolumn;
  @include desktop-only {
    padding: 40px 60px;
  }
  h4 {
    padding-bottom: 20px;
  }
  li {
    padding-bottom: 10px;
  }
  span {
    font-size: 11px;
  }
  i {
    padding-right: 12px;
  }
  @include tablet-only {
    padding-left: 120px;
    padding-right: 120px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      :nth-child(2n) {
        order: 1;
      }
      li {
        width: 50%;
      }
    }
  }
  @include desktop-only {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      width: 25%;
    }
  }
}

// alignement des icones: une i a une width de 12px l'autre 19px,
// >>il faut modifier le fontsize de l'icone 'mainserrée', mettre un 12px,
// avec un span notamment

// la suite du footer se trouve dans typography...
