button {
  cursor: pointer;
  border: none;
}

.button__cta {
  /*les boutons violets, présents sur accueil et menu*/
  /* test plutôt sympa:
    background: linear-gradient(
    to right bottom,
    $colour-secondary,
    $colour-primary 60px
  );*/
  background: radial-gradient(
    at 30% -90%,
    $colour-secondary 20px,
    $colour-primary
  );
  width: fit-content;
  height: 50px;
  color: $colour-achromatic;
  border-radius: 25px;
  padding: 0 20px;
  box-shadow: 3px 3px 10px rgb(200, 200, 200);
  transition: background 1s, box-shadow 400ms;
  &:hover {
    background: radial-gradient(
      at 30% -90%,
      lighten($colour-secondary, 10%) 20px,
      lighten($colour-primary, 10%)
    );
    box-shadow: 8px 8px 15px rgb(170, 170, 170);
  }
}

.box {
  width: 97%;
  position: relative;
  &__label {
    position: absolute;
    z-index: 2;
    left: -15px;
    top: calc((65px - 30px) / 2);
    background-color: $colour-primary;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: $colour-achromatic;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    /* - les boutons de fonctionnement, présents sur home, gris > violet
       - choix d'un alignement des i et textes sur la gauche (et non centré)*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 65px;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(220, 220, 220);
    background-color: backeti($colour-darkachromatic);
    i {
      padding: 0 25px;
      color: $colour-darkachromatic;
    }
    &:hover {
      background-color: backeti($colour-primary);
      i {
        color: $colour-primary;
      }
    }

    /* - une fonction pour définir la couleur de i par rapport au fond
    - utilisation cette fonction avec des teintes de couleur primaire en survol*/
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.like {
  &--empty {
    display: none;
  }
  padding: 2px 1px 0 1px;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    $colour-secondary 7px,
    $colour-primary
  );
  color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  cursor: cell;
  -webkit-text-stroke: 2px black; //dessine une ligne autour d'un text
  transition: all ease-in 400ms;
  background-size: 1% 200%;
  &:hover {
    background-position: 0 -100%;
    -webkit-text-stroke: unset;
  }
}

// // ce qui suit fonctionne, mais transition pas trouvée
// .like {
//   // Au clic, il devra se remplir progressivement. Pour cette première version,
//   // l’effet peut être apparaître au survol sur desktop au lieu du clic.
//   background: none;
//   color: black;
//   font-size: 1.3rem;
//   cursor: cell;
//   padding: 0;
//   &--empty {
//     padding: 0px 0 0 0;
//   }
//   // TODO trouver la grosse main pour le pointer
//   &--full {
//     display: none;
//   }
//   // ça ne marche pas...
//   // transition: all 1000ms ease;
//   // -webkit-transition: all 1500ms ease;
//   &:hover {
//     .like--full {
//       display: unset;
//       padding: 2px 1px 0 1px;
//       background: radial-gradient(
//         at 30% -90%,
//         $colour-secondary 7px,
//         $colour-primary
//       );
//       background-clip: border-box;
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//       // - pourquoi a-t-on l'impression que le coeur est coupé = j'ai
//       // rajouté un petit padding de 5px sur le full
//     }
//     .like--empty {
//       display: none;
//     }
//   }
// }

.header__button {
  /*les boutons du header de menu
    pour revenir à accueil*/
  background: none;
  color: black;
  display: unset;
  position: absolute;
  top: 30px;
  left: 10px;
  padding: 0 20px;
}

.button__checked {
  /* les boutons pour valider choix,
    apparaissent avec un survol
    Le visiteur peut ajouter les plats qu'il souhaite 
    à sa commande en cliquant dessus. Cela fait 
    apparaître une petite coche à droite du plat. 
    Cette coche devra coulisser de la droite vers 
    la gauche. Pour cette première version, l’effet 
    peut apparaître au survol sur desktop au lieu du 
    clic. Si l’intitulé du plat est trop long, il devra 
    être rogné avec des points de suspension. Un exemple 
    de l’effet attendu est fourni.*/
}
