button {
  cursor: pointer;
  border: none;
}

.button__cta {
  /*les boutons violets, présents sur accueil et menu*/
  /* test plutôt sympa:
    background: linear-gradient(
    to right bottom,
    $colour-secondary,
    $colour-primary 60px
  );*/
  background: radial-gradient(
    at 30% -90%,
    $colour-secondary 20px,
    $colour-primary
  );
  width: fit-content;
  height: 50px;
  color: $colour-achromatic;
  border-radius: 25px;
  padding: 0 20px;
  box-shadow: 3px 3px 10px rgb(200, 200, 200);
  &:hover {
    background: radial-gradient(
      at 30% -90%,
      lighten($colour-secondary, 10%) 20px,
      lighten($colour-primary, 10%)
    );
    box-shadow: 8px 8px 15px rgb(170, 170, 170);
  }
}

@function backeti($colour) {
  @if (lightness($colour) < 55%) {
    @return lighten($colour, 46%);
  } @else {
    @return lighten($colour, 36%);
  }
}
// il m'a fallu passer de la valeur HEX à HLS et RGB à HLS
// et trouver le point de rupture entre les deux couleurs

.button {
  &__manual {
    /* - les boutons de fonctionnement, présents sur accueil, gris > violet
       - choix d'un alignement des i et textes sur la gauche */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: backeti($colour-darkachromatic);
    width: 97%;
    height: 65px;
    font-weight: 500;
    border-radius: 15px;
    padding: 0 20px;
    box-shadow: 3px 3px 10px rgb(220, 220, 220);
    i {
      padding: 0 25px;
      color: $colour-darkachromatic;
    }
    /* - une fonction pour définir la couleur de i par rapport au fond
      - utiliser cette fonction avec des teintes de couelur primaire en survol*/
    label {
      position: absolute;
      left: -15px;
      background-color: $colour-primary;
      height: 30px;
      width: 30px;
      border-radius: 15px;
      color: $colour-achromatic;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      i {
        color: $colour-primary;
      }
      background-color: backeti($colour-primary);
    }
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.like {
  background: none;
  color: black;
  font-size: 1.3rem;
  cursor: cell;
  // -todo trouver la main pour le pointer
  &--full {
    display: none;
  }
  &:hover {
    .like--full {
      display: unset;
      color: aqua;
    }
    .like--empty {
      display: none;
      // je n'ai pas compris pourquoi je devais
      //retaper .like--empty
    }
  }
}

//- todo trouver un moyen de remplir le coeur avec gradient
// autre possibilitté pour les coeurs: les superposer et
//changer leur ordre z-index de superposition lors du survol

.button__return {
  /*les boutons du header de menu
    pour revenir à accueil*/
}
.button__checked {
  /* les boutons pour valider choix,
    apparaissent avec un survol*/
}
