@mixin flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
}

@mixin font-family-Shr {
  font-family: "Shrikhand";
  letter-spacing: 1px;
}

@mixin font-400 {
  font-weight: 400;
  font-size: 1rem;
}

@mixin font-200 {
  font-weight: 200;
  font-size: 1.2rem;
}

@mixin font-600 {
  font-weight: 600;
}

@mixin menu-backgroundimage-size($size: 200px) {
  height: $size;
}

@mixin background-radgrad {
  background: radial-gradient(
    at 30% -90%,
    $colour-secondary 20px,
    $colour-primary
  );
}

@mixin small-mobile-only {
  @media screen and (max-width: map-get($breakpoints, small-mobile)) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}
@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}
@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
