$colour-primary: #9256dc;
$colour-secondary: #ff79da;
$colour-accent: #99e2d0;

$colour-achromatic: rgb(246, 246, 246);
$colour-darkachromatic: rgb(130, 130, 130);

$breakpoints: (
  mobile: 767px,
  tablet-min: 768px,
  tablet: 991px,
  desktop: 992px,
);

$menu-bgimg-size: (
  mobile: 250px,
  tablet: 300px,
  desktop: 400px,
);

// variables de l'animation du bouton .dish:
$num-section: 10;
$anim-dur: 1s;
$anim-delay: calc($anim-dur / $num-section);

/*variable pour paramétrer l'horloge du spinner de la page d'accueil, définir
la longueur de l'aiguille des minutes (height-minute-hand), et c'est tout !!*/
$height-minute-hand: 32px;
$line-weight: calc($height-minute-hand / 4);
$height-hour-hand: calc((2 / 3) * $height-minute-hand);
$clock-diameter: $height-minute-hand * 3; // bord inclus grâce au paramètre borderbox
$round-hand: calc($height-minute-hand / 8);
$big: 1s;
$small: $big * 12;
