*,
footer {
  font-family: "Roboto", sans-serif;
}

a,
a:link,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}

h1 {
  @include font-600;
  font-size: 1.6rem;
}

h2 {
  @include font-600;
  font-size: 1.4rem;
  padding: 10px 0 20px 0;
  @include tablet-only {
    padding-left: 100px;
  }
  @include desktop-only {
    padding-left: 40px;
  }
}

p {
  @include font-200;
}

button {
  @include font-400;
  i {
    font-size: 1.3rem;
  }
}

.card,
.starters,
.maincourses,
.desserts {
  h3 {
    @include font-600;
    font-size: 1.1rem;
    padding: 0 0 8px 0;
  }
  p {
    font-size: 0.9rem;
    font-weight: 300;
  }
  &__new {
    @include font-400;
    color: darken($colour-accent, 40%);
  }
  span {
    font-weight: 800;
  }
}

/***footer***/
footer {
  color: $colour-achromatic;
  h4 {
    @include font-family-Shr;
    font-size: 1.2rem;
    &:hover {
      color: $colour-primary;
    }
  }
  li a {
    @include font-400;
    .fas fa-hands-helping {
      font-size: 12px;
    }
    &:hover {
      color: $colour-primary;
    }
  }
}

.searchbar {
  color: rgb(74, 74, 74);
  input {
    font-size: 0.95rem;
    @include font-600;
    color: rgb(74, 74, 74);
    &:focus {
      color: $colour-primary;
    }
  }
}

.menu {
  h1 {
    @include font-family-Shr;
    font-size: 1.6rem;
    @include tablet-only {
      padding-left: 40px;
    }
  }
  h2 {
    text-transform: uppercase;
    @include font-200;
    padding: 40px 0 10px;
  }
}
