p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  i {
    font-size: 1.3rem;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 10px 0 20px 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

.card {
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0 0 8px 0;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 300;
  }
  &__new {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: darken($colour-accent, 40%);
  }
}

/***footer***/
footer {
  h4 {
    font-family: "Shrikhand";
    color: $colour-achromatic;
    font-size: 1.3rem;
    padding: 20px 0;
  }
  li {
    font-family: "Roboto", sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    list-style: none;
    color: $colour-achromatic;
    padding-bottom: 10px;
    i {
      padding-right: 7px;
    }
    // une i fait 12px l'autre 19px, il faudrait trouver le moyen
    // de leur faire obtenir le meme width, pour éviter de bidouiller
    // l'alignement entre les padding droit et gauches
    span {
      padding-left: 7px;
    }
  }
}

.searchbar {
  color: rgb(74, 74, 74);
  font-family: "Roboto", sans-serif;
  input {
    font-size: 0.95rem;
    font-weight: 600;
    color: rgb(74, 74, 74);
    &:focus {
      color: $colour-primary;
    }
  }
}
