* {
  font-family: "Roboto", sans-serif;
}

a,
a:link,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  i {
    font-size: 1.3rem;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 10px 0 20px 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

.card {
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0 0 8px 0;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 300;
  }
  &__new {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: darken($colour-accent, 40%);
  }
}

/***footer***/

footer {
  color: $colour-achromatic;
  h4 {
    font-family: "Shrikhand";
    font-size: 1.2rem;
  }
  li a {
    font-family: "Roboto", sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
  }
}

.searchbar {
  color: rgb(74, 74, 74);
  font-family: "Roboto", sans-serif;
  input {
    font-size: 0.95rem;
    font-weight: 600;
    color: rgb(74, 74, 74);
    &:focus {
      color: $colour-primary;
    }
  }
}

.menu {
  h1 {
    font-family: "shrikhand";
    font-size: 1.6rem;
    padding: 20px 0 0 0;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 40px 0 10px;
  }
}
.starters,
.maincourses,
.desserts {
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0 0 8px 0;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 300;
  }
  span {
    font-weight: 800;
  }
}
// même typo que card, todo les réunir?
