#presentation {
  @include flexcolumn;
  background-color: $colour-achromatic;
  text-align: center;
  h1 {
    padding: 0 40px 20px 40px;
  }
  p {
    padding-bottom: 20px;
  }
}

#manual {
  @include flexcolumn;
  .manuallist {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include tablet-only {
      width: 300px;
      margin: auto;
    }
    @include desktop-only {
      flex-direction: row;
      justify-content: center;
      padding-left: 15px;

      -webkit-column-gap: 40px;
      -moz-column-gap: 40px;
      -ms-column-gap: 40px;
      -o-column-gap: 40px;
      column-gap: 40px;
    }
  }
}

#restaurants {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 60px 20px;
  background-color: $colour-achromatic;
  #catalogue {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @include tablet-only {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
    }
    @include desktop-only {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  }
}
