#presentation {
  @include flexcolumn;
  background-color: $colour-achromatic;
  text-align: center;
  align-items: center;
  height: 270px;
  h1 {
    padding: 0 40px 20px 40px;
  }
  p {
    padding-bottom: 20px;
  }
}

#manual {
  @include flexcolumn;
  height: 380px;
  .manuallist {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
}

#restaurants {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background-color: $colour-achromatic;
  #catalogue {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
