.menu {
  &__image {
    background: no-repeat center/100%
      url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplashsmall.jpg");
    @include menu-backgroundimage-size;

    &--LNE {
      // TODO est- ce qu'on peut donner une distance de bottom pour
      // positionner l'image
      background: no-repeat center/100%
        url("../img/restaurants/stil-u2Lp8tXIcjw-unsplashsmallportrait.jpg");
      @include menu-backgroundimage-size;
    }
    &--ALF {
      background: no-repeat center/100%
        url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplashsmall.jpg");
      @include menu-backgroundimage-size;
    }
    &--LDDS {
      background: no-repeat center/100%
        url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplashsmall.jpg");
      @include menu-backgroundimage-size;
    }
  }
  &__text {
    @include flexcolumn;
    background-color: $colour-achromatic;
    border-radius: 40px;
    margin-top: -40px;
    // - gérer les débordements et faire glisser la boite texte
    //sur la boite image > réussi en utilisant un background dans la boite image
    &__heading {
      display: flex;
      justify-content: space-between;
      .like {
        display: flex;
        align-items: flex-end;
        padding-right: 20px;
      }
    }
    &__cta {
      @include flexcolumn;
      align-items: center;
      padding-bottom: 0px;
    }
  }
}

.starters,
.maincourses,
.desserts {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  h2 {
    border-bottom: 5px solid $colour-accent;
    width: 70px;
  }
}
